# model weights
*.pth
*.pt
*.ckpt
*.bin
*.safetensors

# python cache
__pycache__/
*.pyc

# outputs
results/
checkpoints/
logs/

# Large LIBERO datasets
openvla-oft/LIBERO/libero/datasets/
*.hdf5

# weird temp files
=*~
data/